/* Google fonts import link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgb(42, 8, 8);
}
.wrapper {
  user-select: none;
}
.wrapper .time {
  height: 100px;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 10px 10px 20px rgba(242, 240, 240, 0.09);
  padding: 0 10px;
}
.wrapper .time span {
  width: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #f8f3f3;
}
.time span.colon {
  width: 10px;
}
.time span.ms-colon,
.time span.millisecond {
  color: rgb(250, 244, 244);
}
.wrapper .buttons {
  text-align: center;
  margin-top: 20px;
}
.buttons button {
  
  
  
  color: rgb(254, 251, 251);
  transition: transform 1s;
  
  background-color: var(--clr);
  font-size: 30px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.09);
  padding: 12px 24px ;
  margin-inline: 12px;
  border-radius: 10px;
}
.buttons button:hover{
  transform: scale(1.05);
}
.buttons button.active,
.buttons button.stopActive {
  pointer-events: none;
  opacity: 0.7;
}
